@model IEnumerable<Store_MVC.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<p>
    @Html.ActionLink("Create New Record", "AddPage", "", new { @class = "btn btn-success" })
</p>

@if (!Model.Any())
{
    <h1 class="text-center">There are no records</h1>
}
else
{
<!--5-->
<table class="table sorting" id="pages">
    <tr class="home">
        <th>
            Title
        </th>
        <th>
            ShortDesc
        </th>
        <th>
            Sidebar
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <!--5-->
        <tr id="id_@item.Id">
            <td>
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                @Html.ActionLink("Details", "PageDetails", new { id = item.Id })
                <!-- Если ShortDesc равен home, не показывать кнопку на удаление (5)-->
                @if (item.ShortDesc != "home")
                {
                    string slash = "| ";
                    @slash;
                    @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                }
            </td>
        </tr>
    }
</table>
}

@section Scripts
{
    <script>
        $(function () {

            /* Confirm record deletion */
            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });

            /* Sorting script */
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Pages/ReorderRecords";

                    $.post(url, ids, function (data) {

                    });
                }
            });
        });
    </script>
}